<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <add name="appusers" connectionString="Data Source=SGSINVDBS001\testsite;Initial Catalog=APPUsers;Integrated Security=True;;MultipleActiveResultSets=true;;" providerName="System.Data.SqlClient" />
    <add name="service" connectionString="Data Source=SGSINVDBS001\testsite;Initial Catalog=svcreq;Integrated Security=True;;MultipleActiveResultSets=true;;" providerName="System.Data.SqlClient" />
    <add name="cms" connectionString="Data Source=SGSINVDBS001\CMS;Initial Catalog=iERP_CMS;Integrated Security=True;;MultipleActiveResultSets=true;;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="vs:EnableBrowserLink" value="true"/>

    <add key="Safety" value="96"/>
    <add key="PJM" value="87"/>
    <!--live-->
    <!--<add key="TK" value="86"/>-->
    <add key="TK" value="85"/>
    
    <add key="Test" value="83"/>
    <add key="RO" value="88"/>
    
    <add key="smtpserver" value="smtp.dyna-mac.com" />
    <add key="smtport" value="25" />
    <!--<add key="MailFrom" value="IT_Apps_Portal_noreply@dyna-mac.com" />-->
    <add key="MailFrom" value="eservices_noreply@dyna-mac.com" />
    <add key="MailTo" value="earlyexit-epermit@dyna-mac.com"/>
    <add key="MailToSafety" value="safety@dyna-mac.com"/>
    <add key="exitPermitLink" value="http://eservices.dyna-mac.com/exitpermit/"/>
    <add key="link" value="http://eservices.dyna-mac.com/"/>
    <add key="myApp" value="http://eservices.dyna-mac.com/Myapplication"/>

    <!--<add key="link" value="http://localhost:57335/"/>-->
    <!--<add key="testing" value="1"/>-->
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="asp" namespace="Saplin.Controls" assembly="DropDownCheckBoxes"/>
      </controls>
    </pages>
    <customErrors mode="Off"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

</configuration>
