<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <add name="appusers" connectionString="Data Source=SGSINVDBS001\testsite;Initial Catalog=APPUsers;Integrated Security=True;;MultipleActiveResultSets=true;;" providerName="System.Data.SqlClient" />
    <add name="service" connectionString="Data Source=SGSINVDBS001\testsite;Initial Catalog=svcreq;Integrated Security=True;;MultipleActiveResultSets=true;;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="vs:EnableBrowserLink" value="true"/>

    <!--<add key="FromMail" value="jihanshafitri.18@ichat.sp.edu.sg"/>
    <add key="Password" value="YCT_4Y_$DhgfM9Y"/>-->
    <add key="FromMail" value="chowwwwder@outlook.com"/>
    <add key="Password" value="intern123"/>
    <add key="PJM" value="83"/>
    <add key="TK" value="85"/>
    <add key="smtpserver" value="smtp.dyna-mac.com" />
    <add key="smtport" value="25" />
    <add key="MailFrom" value="IT_Apps_P ortal_noreply@dyna-mac.com" />
    
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="asp" namespace="Saplin.Controls" assembly="DropDownCheckBoxes"/>
      </controls>
    </pages>
   
    <!--<authorization>
      <deny users="?"/>
    </authorization>-->
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

</configuration>
