body {
    background-color: #F1FAFF;
}

.container {
    height: 50em;
    width: 80%;
    background-color: white;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 2.375em;
}

.label {
    font-size: 1.125em;
    line-height: 1.875em;
    display: block;
    /*margin-top: 1.25em;*/
}

h1, .label {
    color: #004B7A;
    font-family: 'Rubik', sans-serif;
}


.dateTimeRow {
    margin-left: 33%;
    margin-right: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*justify-content: center;
    align-items: center;*/
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.col-12 {
    /*width: 100%;*/
    width: 33%;
}

#dateInput, #timeInput {
    width: 100%;
}

.inputFields, .dropdown {
    width: 100%;
}

.inputFields, .dropdown, .input {
    height: 2.5em !important;
    border-radius: 0.3125em !important;
    border: 0.0625em solid #EFF0F6 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em !important;
    text-indent: 0.5em !important;
    box-shadow: 0 0.125em 0.25em rgba(0, 75, 122, 0.25) !important;
    display: flex;
    justify-content: center !important;
    overflow: auto;
    margin-bottom: 1.25em;
}

.inputFields:hover, .dropdown:hover {
     border: 0.0625em solid #004B7A;
}

.inputFields:focus, .dropdown:focus {
    outline: none;
}


.rfv {
    color: red;
}

.rowButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
    width: 100%;
}

.button {
    border-radius: 0.9375em;
    border-style: none;
    color: white;
    height: 3.5em;
    width: 15%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25em;
}

.button:hover {
    opacity: 0.8;
}

#submitBtn, #submitAsTeam, #submitAsSolo {
    background-color: #00AC26;
}

#cancelBtn {
    background-color: #E83333;
}

.rowIcon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0;
}

#btnHelp, #btnBack, #btnContinue {
    color: #004B7A;
    float: right;
    margin-top: 2%;
    margin-right: 4%;
}

#labelHelp, #labelSuccess {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #004B7A;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25em;
}

#labelSuccess {
    margin-top: 1.25em;
}
.modalBackground, .modalBackground1 {
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: #000;
    filter: alpha(opacity=30);
    opacity: 0.3;
}

#Panel1, #Panel2 {
    background-color: white;
    width: 30%;
    overflow: auto;
    border-radius: 0.5em;
    z-index: 10001;
    height: auto;
}
/*#Panel1 {
    height: 35%;
}
#Panel2 {
    height: 30%;
}*/
.contentRow {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
li {
    margin-bottom: 1em;
}
.labelMsg {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 2em;
}

#viewStatusBtn {
    background-color: #004B7A;
    width: 30%;
    margin: 2em auto 2em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.9375em;
    border-style: none;
    color: white;
    height: 3.5em;
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
}
/* Medium devices (landscape tablets, 992px and down) */
@media only screen and (max-width: 992px) {
    .container {
        width: 85%;
    }

    h1 {
        font-size: 1.5em;
    }

    .col-12 {
        width: 80%;
    }

    .dateTimeRow {
        margin-left: 10%;
        margin-right: 10%;
    }
    .button, #viewStatusBtn {
        height: 3.55em;
        /*width: 8em;*/
        bottom: 3%;
        font-size: 1em;
    }

    .label {
        font-size: 1em;
    }
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    .button, #viewStatusBtn {
        width: 30%;
    }
    #Panel1, #Panel2 {
        width: 70%;
        /*height: 40%;*/
    }
}

/* Medium devices (landscape tablets, 320px and down) */
@media only screen and (max-width: 320px) {
    .dateTimeRow {
        /*display: block;*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dateCol, .timeCol, .input {
        width: 100%;
    }

    .rowButtons {
        /*display: block;*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .button, #viewStatusBtn {
        width: 50%;
        margin-top: 2%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #Panel1, #Panel2 {
        width: 90%;
    }
}