.hide {
    display: none;
}

#approval, #details {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0.125em 0.25em rgba(0, 75, 122, 0.25);
    border-radius: 0.75em;
    padding: 0.25em 1em 1em 1em;
    margin-bottom: 1em;
}/**/

#lblApproval, #lblDetails {
    margin-top: 0.5em;
    font-size: 1.1em;
}


#statusWhenRow, #dateTimeRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 1em;
}

.col {
    width: 45%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .label, .labelData, .textbox {
        font-size: 0.8em;
    }
}