.hide {
    display: none;
}

#approval, #details {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0.125em 0.25em rgba(0, 75, 122, 0.25);
    border-radius: 0.75em;
    padding: 0.25em 1em 1em 1em;
    margin-bottom: 1em;
}/**/

#lblApproval, #lblDetails {
    margin-top: 0.5em;
    font-size: 1.1em;
}
/*.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}*/
h1 {
    margin-bottom: 0;
}
#ExitPermitBtn {
    border-radius: 0.7em;
    border-style: none;
    color: white;
    height: 2.3em;
    /*width: 7%;*/
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    background-color: #004B7A;
    margin-bottom: 1em;
    margin-left: 5%;
    /*display: block;
    position: absolute;
    bottom: 10%;*/
}

/*#statusWhenRow, #dateTimeRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 1em;
}*/

.col {
    width: 45%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .label, .labelData, .textbox {
        font-size: 0.8em;
    }

    #ExitPermitBtn {
        /*width: 10%;*/
        font-size: 0.8em;
    }
}