.container {
    box-shadow: 0 0.125em 0.25em rgba(0, 75, 122, 0.25);
    border-radius: 0.0625em;
}

/*
.row {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

/*
.rowButtons { 
    margin-top: 10%;
    
}*/

/*
    476px
    768px
    992px
*/
/*
.col-6 {
    display: inline-block;
    margin: auto;
 }
*/

/*
#cancelBtn {
    left: 20%;
}
*/
/*.rowButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
   
    
    width: 100%; 
}*/
/*
.colBtn {
    width: 50%;
    justify-content: center;
    align-items: center;
}

*/
/*
.button {
    width: 70%;
}

.dateCol, .timeCol {
    display: inline-block;
    float: left;
}

.col-6 {
    display: flex;
    flex-direction: row;
}
.dateCol {
    left: 0;
}
.timeCol {
    right: 0;
}
}
*/

@media only screen and (max-width: 992px) {

    .label {
        font-size: 1em;
    }

    .dateTimeRow, .row /*, .rowButtons*/ {
        margin-left: 10%;
        margin-right: 10%;
    }

    /*.timeCol {
        justify-content: flex-end;
        align-items: flex-end;
    }*/

}



/*@media only screen and (max-width: 480px) {
    .label {
        margin-top: 0.5em;
    }

    .inputFields, .dropdown {
        margin-top: 0.2em;
    }
    
 #dateInput, #timeInput {
        width: 7em;
    }
    
   
}

*/
