.container {
    box-shadow: 0 0.125em 0.25em rgba(0, 75, 122, 0.25);
    border-radius: 0.0625em;
}

/*.rowTest {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.col12 {
    width: 33%;
}
.labelTest {
    display: block;
}
.inputTest {
    width: 100%;
}*/

