.container {
    display: flex;
    flex-direction: row;
}

.submitAs { 
    box-shadow: 0 0.125em 0.25em rgba(0, 75, 122, 0.25);
    border-radius: 0.625em 0 0 0.625em;
    width: 15%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.form { 
    box-shadow: 0 0.125em 0.25em rgba(0, 75, 122, 0.25);
    border-radius: 0 0.625em 0.625em 0;
    text-align: center;
    width: 85%;
}

.label {
    text-align: left;
}
#lblSubmitFor {
    text-align: center;
    color: #004B7A;
    font-family: 'Rubik', sans-serif;
    display: block;
    font-size: 1.3em;
    margin-top: 0.5em;
}
.submitAsButton {
    display: block;
    width: 75%;
    height: 3.125em;
    border-radius: 0.625em;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25em;
    
    border: none;
    margin: auto;
    margin-top: 1.25em;
}
.submitAsButton:active {
    background-color: #E9F4FB;
    color: #004B7A;
}
/*#SoloBtn {
    background-color: #E9F4FB;
    color: #004B7A;
}*/
.activeBtn {
    display: block;
    width: 75%;
    height: 3.125em;
    border-radius: 0.625em;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25em;
    background-color: #E9F4FB;
    color: #004B7A;
    border: none;
    margin: auto;
    margin-top: 1.25em;
}

.inactiveBtn {
    background-color: #FFFFFF;
    color: #7C7C7C;
}

#caption {
    /*
    overflow: visible !important;
    */
    height: 2.5em !important;
}

.dd_chk_drop {
    top: 2.75em !important;
    border-radius: 0.3125em !important;
    border: 0.0625em solid #EFF0F6 !important;
}

#namesddl label {
    margin-left: 0.5em;
    /*color: red !important;*/
    line-height: 2em;
}

/* Medium devices (landscape tablets, 992px and down) */
@media only screen and (max-width: 992px) {
    .container {
        flex-direction: column;
    }

    .submitAs {
        height: 15%;
        width: 100%;
        display: flex;
        border-radius: 0.625em 0.625em 0 0;
        /*align-items: center;
        justify-content: center;*/
    }
    /*.submitBtns {
        align-items: center;
    }*/
    .submitBtns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .form {
        height: 85%;
        width: 100%;
        border-radius: 0 0 0.625em 0.625em;
    }

    .submitAsButton, .activeBtn {
        display: inline-block;
        width: 40%;
        font-size: 1.25em;
        border-radius: 0.9375em;
        margin-top: auto;
    }

    .label {
        margin-top: 0.2em;
        font-size: 1em;
    }

    .inputFields, .dropdown {
        margin-top: 0.5em;
    }

    #dateInput, #timeInput {
        width: 7em;
    }
    /*.dateTimeRow, .row {
        margin-left: 10%;
        margin-right: 10%;
    }*/
    .col-12 {
        width: 85%;
    }


}

/* Medium devices (landscape tablets, 768px and down) */
/*@media only screen and (max-width: 768px) {
    .submitAsButton, .activeBtn {
        width: 30%;
    }
}*/

/* Medium devices (landscape tablets, 320px and down) */
/*@media only screen and (max-width: 320px) {
    .submitAsButton, .activeBtn {
        width: 40%;
    }
}*/