.submitAs {
    height: 50em;
    width: 11.25em;
    box-shadow: 0 0.125em 0.25em rgba(0, 75, 122, 0.25);
    border-radius: 0.625em 0 0 0.625em;
    float: left;
}

.form {
    height: 50em;
    width: 68.1875em;
    box-shadow: 0 0.125em 0.25em rgba(0, 75, 122, 0.25);
    border-radius: 0 0.625em 0.625em 0;
    float: left;
    text-align: center;
    margin: auto;
}
.col {
    display: inline-block;
    margin: auto;
}

.label {
    text-align: left;
}

#dateInput, #timeInput {
    width: 11.25em;
}

.submitAsButton {
    display: block;
    width: 8em;
    height: 3.125em;
    border-radius: 0.625em;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25em;
    background-color: #E9F4FB;
    color: #004B7A;
    border: none;
    margin: auto;
    margin-top: 1.25em;
}

#cancelBtn {
    left: 30%;
}


@media only screen and (max-width: 480px) {

    .submitAs {
        height: 10%;
        width: 100%;
        border-radius: 0.625em 0.625em 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form {
        height: 90%;
        width: 100%;   
        border-radius: 0 0 0.625em 0.625em;
    }
    .submitAsButton {
        display: inline-block;
        width: 7em;
        font-size: 1.25em;
        border-radius: 0.9375em;
        margin-top: auto;
    }
    #cancelBtn {
        left: 20%;
    }

    .label {
        margin-top: 0.2em;
    }
    .inputFields, .dropdown {
        margin-top: 0.5em;
    }

    #dateInput, #timeInput {
        width: 7em;
    }

}