.GridPager a, .GridPager span {
    display: block;
    height: 1.25em;
    width: 1.25em;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
}
.textbox {
    height: 2.5em;
    border-radius: 0.3125em;
    border: 0.0625em solid #EFF0F6;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-indent: 1em;
    /*display: flex;
    justify-content: center;
    overflow: auto;*/
    background-color: #FCFCFC;
    width: 100%;
    margin-top: 1.5em;
}
.hide {
    display: none;
}
.GridPager a {
    background-color: #f5f5f5;
    color: #969696;
    border: 0.0625em solid #969696;
}

.GridPager span {
    background-color: #A1DCF2;
    color: #000;
    border: 0.0625em solid #3AC0F2;
}
.rowModal {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1.5em;
    justify-content: center;
    align-items: center;
}

#approval, #details {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0.125em 0.25em rgba(0, 75, 122, 0.25);
    border-radius: 0.75em;
    padding: 0.25em 1em 1em 1em;
    margin-bottom: 1em;
}/**/

#lblApproval, #lblDetails {
    margin-top: 1em;
    font-size: 1.1em;
}


.statusWhenRow, .dateTimeRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 2em;
}

.col {
    
    width: 45%;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    .table tbody {
        font-size: 0.625em;
        margin: auto;
    }


    #Panel1 {
        width: 70%;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #Panel1 {
        width: 90%;
        height: 80%;
        margin: auto;
    }
    #lblexitID {
        font-size: 1.1em;
    }
    #lblApproval, #lblDetails {
        margin-top: 1em;
        font-size: 1em;
    }
    .label, .labelData, .textbox {
        font-size: 0.8em;
    }
    
}

/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {
    
}*/

/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {
    
}*/

/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {
    
}*/

/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {
    
}*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {

}*/
    