.container {
    box-shadow: 0 0.125em 0.25em rgba(0, 75, 122, 0.25);
    border-radius: 0.0625em;
}

.col-6 {
    display: inline-block;
    margin: auto;
 }



#dateInput, #timeInput {
    width: 9.375em;
}

#cancelBtn {
    left: 20%;
}

/*
.col-6 {
    
    display: inline-block;
}



.dateCol, .timeCol {
    display: inline-block;
    float: left;
}

.col-6 {
    display: flex;
    flex-direction: row;
}
.dateCol {
    left: 0;
}
.timeCol {
    right: 0;
}
}
*/



@media only screen and (max-width: 480px) {
    .label {
        margin-top: 0.5em;
    }

    .inputFields, .dropdown {
        margin-top: 0.2em;
    }

    #dateInput, #timeInput {
        width: 7em;
    }
}
