
h1 {
    text-align: center;
    font-size: 2.375em;
}
.container {
    width: 50%;
    margin: auto;
    box-shadow: 0 0.125em 0.25em rgba(0, 75, 122, 0.25);
    border-radius: 0 0.625em 0.625em 0;
    /*display: none;*/
}


h1, .label {
    color: #004B7A;
    font-family: 'Rubik', sans-serif;
}
.label {
    display: block;
    font-size: 1.125em;
    line-height: 1.875em;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1em;
}

.col-12 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col {
    width: 70%;
}
.input, .dropdown, #ddlDynamic {
    height: 2.5em !important;
    border-radius: 0.3125em !important;
    border: 0.0625em solid #EFF0F6 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em !important;
    text-indent: 0.5em !important;
    box-shadow: 0 0.125em 0.25em rgba(0, 75, 122, 0.25) !important;
    display: flex;
    justify-content: center !important;
    overflow: auto;
    /*margin-bottom: 1.25em;*/
    width: 100%;
}

.button {
    border-radius: 0.9375em;
    border-style: none;
    color: white;
    height: 3em;
    /*width: 15%;*/
    font-family: 'Rubik', sans-serif;
    font-size: 1.25em;
    width: 100%;
    background-color: #004B7A;
    margin-bottom: 1.25em;
}
#submitBtn {
    width: 50%;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}
.activeBtn {
    display: inline-block;
    width: 40%;
    height: 3.125em;
    border-radius: 0.625em;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25em;
    background-color: #004B7A;
    color: white;
    border: none;
    margin: auto;
    margin-top: 1.25em;
}
.rowBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.inactiveBtn {
    display: inline-block;
    width: 40%;
    height: 3.125em;
    border-radius: 0.625em;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25em;
    background-color: #E9F4FB;
    color: #004B7A;
    border: none;
    margin: auto;
    margin-top: 1.25em;
}
#caption {
    height: 2.5em !important;
}

.dd_chk_drop {
    top: 2.75em !important;
    border-radius: 0.3125em !important;
    border: 0.0625em solid #EFF0F6 !important;
}

#lblFindEmpID, #lblEmpID {
    height: 2.5em;
    border-radius: 0.3125em;
    border: 0.0625em solid #EFF0F6;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-indent: 0.5em;
    box-shadow: 0 0.125em 0.25em rgba(0, 75, 122, 0.25);
    display: flex;
    overflow: auto;
    width: 50%;
}

.row1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btnStatus {
    height: 2em;
    border-radius: 0.3125em;
    border-style: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    width: 70%;
    background-color: #004B7A;
}
#SearchBtn, #NextBtn {
    height: 2.5em;
    border-radius: 0.3125em;
    border-style: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25em;
    width: 30%;
    background-color: #004B7A;
}
.table {
    width: 100%;
    margin-bottom: 1.25em;
    color: #004B7A;
    table-layout: fixed;
    box-shadow: 0 0.125em 0.25em rgba(0, 75, 122, 0.25);
    border-radius: 0.625em;
}

.thead {
    background-color: #F1FAFF;
    border-radius: 0.625em 0.625em 0 0;
    font-family: 'Rubik', sans-serif;
    font-size: 1.125em;
    color: #004B7A;
    height: 4.3125em;
}

.table tbody {
    background-color: #FDFEFF;
    border-radius: 0.625em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    color: #424242;
}

.tr {
    height: 4em;
}

/*.tr:hover {
    background-color: #004B7A;
    color: white;
}*/

.lblData {
    color: #424242;
    font-family: 'Open-Sans', sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}
.contentRow {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
.modalBackground {
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: #000;
    filter: alpha(opacity=30);
    opacity: 0.3;
}
#labelSuccess {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #004B7A;
    font-family: 'Rubik', sans-serif;
    font-size: 1.25em;
    margin-bottom: 1em;
}
#Panel {
    background-color: white;
    overflow: auto;
    border-radius: 0.5em;
    z-index: 10001;
    width: 30%;
    height: 20%;
}

.rowIcon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0;
}
#btnContinue {
    color: #004B7A;
    float: right;
    margin-top: 2%;
    margin-right: 4%;
    /*display: flex;
    flex-direction: row;
    justify-content: flex-end;*/
}
@media only screen and (max-width: 600px) {
    .container {
        height: 100%;
        width: 100%;
    }
    .col-12, .col {
        width: 90%;
    }
    .inactiveBtn, .activeBtn {
        font-size: 1em;
        width: 40%;
    }
    .button, #SearchBtn, .label, .thead, #NextBtn {
        font-size: 1em;
    }
    .table tbody {
        font-size: 0.75em;
    }
    .btnStatus {
        height: 3em;
    }
    h1 {
        font-size: 1.5em;
    }
    #Panel {
        width: 70%;
    }
}